<!-- Contact Section -->
<section class="px-2 contact bg-amber-50 py-8 min-h-150" id="contact">
    <div class="container mx-auto text-center">
        <h2 class="text-4xl text-shadow-sm mt-24 mb-16 font-bold text-amber-950">Sales</h2>
        <p class="text-xl mt-2 text-slate-900 leading-relaxed">For purchases, please contact us at:</p>
        <p class="text-xl mt-2 text-slate-900 leading-relaxed">Email: <a href="mailto:contact@example.com"
                class="text-lime-700 hover:text-lime-600">contact@example.com</a></p>
        <p class="text-xl text-slate-900 leading-relaxed">Phone: +123456789</p>
        <p class="text-xl text-slate-900 leading-relaxed">Address: 123 Webshop St, City, Country</p>
        <p class="text-xl text-slate-900 leading-relaxed">Bank Account: 123-456-789</p>
    </div>
</section> 