<!-- Hero Section -->
<section id="home" class="px-2 hero bg-center h-screen sepia-60"
        style="background-attachment: fixed; background-image: url('./assets/cover.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <div class="container mx-auto text-center flex flex-col md:justify-center items-center h-full">
            <h1 class="text-6xl font-bold mt-4 text-amber-950  md:bg-black md:text-lime-500 p-4 rounded">Bav'ArtS
                Collection</h1>
            <p class="text-2xl mt-2 text-lime-500 text-shadow-lg bg-black bg-opacity-25 p-4 rounded">Finest Benin Art
                and Design</p>
            <a href="#products"
                class="hero-shop-button mt-48 md:mt-8 drop-shadow-lg border-4 border-double border-amber-200 px-20 py-12 rounded-lg text-2xl font-bold group relative z-0 overflow-hidden transition-all duration-300">
                <span class="button-text relative z-10">Shop Now</span>
                <span class="absolute inset-0 overflow-hidden rounded-md">
                    <span
                        class="absolute left-0 aspect-square w-full origin-center translate-x-full rounded-full bg-amber-600 transition-all duration-500 group-hover:-translate-x-0 group-hover:scale-150 opacity-20"></span>
                </span>
            </a>
        </div>
    </section>