---
permalink: /sa-config.js
eleventyExcludeFromCollections: true
---
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<script
  async
  data-collect="outbound,emails,downloads"
  data-extensions="jpg,png,jpeg,gif,svg,webp"
  data-use-title="true"
  data-full-urls="false"
  src="https://scripts.simpleanalyticscdn.com/auto-events.js"></script>